# numpy is required for numerical operations
numpy>=1.19.2

# TensorFlow Lite for model inference
# TensorFlow Lite is lighter than the full TensorFlow package
tensorflow-cpu==2.6.0

# Required for the web app
streamlit==0.85.0

# Image processing
Pillow==8.0.0
protobuf>=3.20

# Commented out as they are not directly required for the app to function
# altair>=4.0,<5
# protobuf>=3.20
# pandas=>1.1.2

# Commented out as they are used primarily in Jupyter Notebooks for visualization and are not necessary for the app's functionality
# matplotlib>=3.3.1
# seaborn>=0.11.0
# plotly>=4.12.0

# Commented out as it's a machine learning utility library, not directly required for the app to function
# scikit-learn>=0.24.2




